Repository yoda-pa/yoda, pull requests merged in 2018-05, with the labels that each got.

#100 refs #99 fix test failures
  .gitignore
  modules/dev.py
  requirements.txt
  tests/dev/test_speedtest.py
Labels: bug, difficulty: easy, module: dev

#102 Port Scanning Feature Added
  modules/dev.py
  tests/dev/test_portscan.py
Labels: reviewed, writing tests

#103 Drinks
  TODO.md
  modules/__init__.py
  modules/food.py
  tests/food/__init__.py
  tests/food/test_suggest_drinks.py
  yoda.py
Labels: in progress, module: food, new feature
